<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refresh_url</key>
	<string>http://articles.csdn.net/mdcc/news.server.php</string>
	<key>version_url</key>
	<string>http://articles.csdn.net/mdcc/news.server.php?type=version</string>
</dict>
</plist>
